<a href="https://colab.research.google.com/github/namancode-verse/data-handling/blob/main/27/03/2004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
df=pd.read_csv('train.csv')
df.head()
df.isna().sum()
df.tail(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [4]:
age_mean_value=df['Age'].mean()

In [5]:
df['Age']=df['Age'].mean()

In [12]:
df['Age']=df['Age'].fillna(age_mean_value)
df.head()
df.tail(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.75,NaN,Q

In [13]:
df['Age']=df['Age'].fillna(age_mean_value)

In [10]:
df.drop("Cabin",axis=1,inplace=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,29.699118,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,29.699118,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,29.699118,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,29.699118,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,29.699118,0,0,373450,8.0500,S

In [15]:
filtered_age=df[df.Age>40]
filtered_age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [16]:
sorted_passengers=df.sort_values('Name',ascending=True,kind='heapsort')
sorted_passengers.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,NaN,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,NaN,S
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C

In [17]:
merged_df=pd.merge(df.head(2),df.tail(2),how='outer',indicator=True)

In [19]:
merged_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,_merge
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,left_only
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,left_only
2,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,right_only
3,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,right_only

In [21]:
group_df=df.groupby('Age')
for key,item in group_df:
  print(group_df.get_group(key),"\n\n")

     PassengerId  Survived  Pclass                             Name   Sex  \
803          804         1       3  Thomas, Master. Assad Alexander  male

      Age  SibSp  Parch Ticket    Fare Cabin Embarked
803  0.42      0      1   2625  8.5167   NaN        C


     PassengerId  Survived  Pclass                       Name   Sex   Age  \
755          756         1       2  Hamalainen, Master. Viljo  male  0.67

     SibSp  Parch  Ticket  Fare Cabin Embarked
755      1      1  250649  14.5   NaN        S


     PassengerId  Survived  Pclass                           Name     Sex  \
469          470         1       3  Baclini, Miss. Helene Barbara  female
644          645         1       3         Baclini, Miss. Eugenie  female

      Age  SibSp  Parch Ticket     Fare Cabin Embarked
469  0.75      2      1   2666  19.2583   NaN        C
644  0.75      2      1   2666  19.2583   NaN        C


     PassengerId  Survived  Pclass                             Name   Sex  \
78            79         1       2    Caldwell, Master. Alden Gates  male
831          832         1       2  Richards, Master. George Sibley  male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
78   0.83      0      2  248738  29.00   NaN        S
831  0.83      1      1   29106  18.75   NaN        S


     PassengerId  Survived  Pclass                            Name   Sex  \
305          306         1       1  Allison, Master. Hudson Trevor  male

      Age  SibSp  Parch  Ticket    Fare    Cabin Embarked
305  0.92      1      2  113781  151.55  C22 C26        S


     PassengerId  Survived  Pclass                             Name     Sex  \
164          165         0       3     Panula, Master. Eino Viljami    male
172          173         1       3     Johnson, Miss. Eleanor Ileen  female
183          184         1       2        Becker, Master. Richard F    male
381          382         1       3      Nakid, Miss. Maria ("Mary")  female
386          387         0       3  Goodwin, Master. Sidney Leonard    male
788          789         1       3       Dean, Master. Bertram Vere    male
827          828         1       2            Mallet, Master. Andre    male

     Age  SibSp  Parch           Ticket     Fare Cabin Embarked
164  1.0      4      1          3101295  39.6875   NaN        S
172  1.0      1      1           347742  11.1333   NaN        S
183  1.0      2      1           230136  39.0000    F4        S
381  1.0      0      2             2653  15.7417   NaN        C
386  1.0      5      2          CA 2144  46.9000   NaN        S
788  1.0      1      2        C.A. 2315  20.5750   NaN        S
827  1.0      0      2  S.C./PARIS 2079  37.0042   NaN        C


     PassengerId  Survived  Pclass                               Name     Sex  \
7              8         0       3     Palsson, Master. Gosta Leonard    male
16            17         0       3               Rice, Master. Eugene    male
119          120         0       3  Andersson, Miss. Ellis Anna Maria  female
205          206         0       3         Strom, Miss. Telma Matilda  female
297          298         0       1       Allison, Miss. Helen Loraine  female
340          341         1       2     Navratil, Master. Edmond Roger    male
479          480         1       3           Hirvonen, Miss. Hildur E  female
530          531         1       2           Quick, Miss. Phyllis May  female
642          643         0       3      Skoog, Miss. Margit Elizabeth  female
824          825         0       3       Panula, Master. Urho Abraham    male

     Age  SibSp  Parch   Ticket      Fare    Cabin Embarked
7    2.0      3      1   349909   21.0750      NaN        S
16   2.0      4      1   382652   29.1250      NaN        Q
119  2.0      4      2   347082   31.2750      NaN        S
205  2.0      0      1   347054   10.4625       G6        S
297  2.0      1      2   113781  151.5500  C22 C26        S
340  2.0      1      1   230080   26.0000       F2        S
479  2.0      0      1  3101298   12.2875      NaN        S
530  2.0      1      1    26360   26.0000      NaN        S
642  2.0      3      2   347088   27.9000      NaN        S
824  2.0      4      1  3101295   39.6875      NaN        S


     PassengerId  Survived  Pclass                                      Name  \
43            44         1       2  Laroche, Miss. Simonne Marie Anne Andree
193          194         1       2                Navratil, Master. Michel M
261          262         1       3         Asplund, Master. Edvin Rojj Felix
348          349         1       3    Coutts, Master. William Loch "William"
374          375         0       3                Palsson, Miss. Stina Viola
407          408         1       2            Richards, Master. William Rowe

        Sex  Age  SibSp  Parch         Ticket     Fare Cabin Embarked
43   female  3.0      1      2  SC/Paris 2123  41.5792   NaN        C
193    male  3.0      1      1         230080  26.0000    F2        S
261    male  3.0      4      2         347077  31.3875   NaN        S
348    male  3.0      1      1     C.A. 37671  15.9000   NaN        S
374  female  3.0      3      1         349909  21.0750   NaN        S
407    male  3.0      1      1          29106  18.7500   NaN        S


     PassengerId  Survived  Pclass                                     Name  \
10            11         1       3          Sandstrom, Miss. Marguerite Rut
63            64         0       3                    Skoog, Master. Harald
171          172         0       3                     Rice, Master. Arthur
184          185         1       3      Kink-Heilmann, Miss. Luise Gretchen
445          446         1       1                Dodge, Master. Washington
618          619         1       2              Becker, Miss. Marion Louise
691          692         1       3                       Karun, Miss. Manca
750          751         1       2                        Wells, Miss. Joan
850          851         0       3  Andersson, Master. Sigvard Harald Elias
869          870         1       3          Johnson, Master. Harold Theodor

        Sex  Age  SibSp  Parch   Ticket     Fare Cabin Embarked
10   female  4.0      1      1  PP 9549  16.7000    G6        S
63     male  4.0      3      2   347088  27.9000   NaN        S
171    male  4.0      4      1   382652  29.1250   NaN        Q
184  female  4.0      0      2   315153  22.0250   NaN        S
445    male  4.0      0      2    33638  81.8583   A34        S
618  female  4.0      2      1   230136  39.0000    F4        S
691  female  4.0      0      1   349256  13.4167   NaN        C
750  female  4.0      1      1    29103  23.0000   NaN        S
850    male  4.0      4      2   347082  31.2750   NaN        S
869    male  4.0      1      1   347742  11.1333   NaN        S


     PassengerId  Survived  Pclass                            Name     Sex  \
58            59         1       2    West, Miss. Constance Mirium  female
233          234         1       3  Asplund, Miss. Lillian Gertrud  female
448          449         1       3  Baclini, Miss. Marie Catherine  female
777          778         1       3   Emanuel, Miss. Virginia Ethel  female

     Age  SibSp  Parch      Ticket     Fare Cabin Embarked
58   5.0      1      2  C.A. 34651  27.7500   NaN        S
233  5.0      4      2      347077  31.3875   NaN        S
448  5.0      2      1        2666  19.2583   NaN        C
777  5.0      0      0      364516  12.4750   NaN        S


     PassengerId  Survived  Pclass                                Name  \
720          721         1       2   Harper, Miss. Annie Jessie "Nina"
751          752         1       3                 Moor, Master. Meier
813          814         0       3  Andersson, Miss. Ebba Iris Alfrida

        Sex  Age  SibSp  Parch  Ticket    Fare Cabin Embarked
720  female  6.0      0      1  248727  33.000   NaN        S
751    male  6.0      0      1  392096  12.475  E121        S
813  female  6.0      4      2  347082  31.275   NaN        S


     PassengerId  Survived  Pclass                        Name     Sex  Age  \
50            51         0       3  Panula, Master. Juha Niilo    male  7.0
278          279         0       3          Rice, Master. Eric    male  7.0
535          536         1       2      Hart, Miss. Eva Miriam  female  7.0

     SibSp  Parch        Ticket     Fare Cabin Embarked
50       4      1       3101295  39.6875   NaN        S
278      4      1        382652  29.1250   NaN        Q
535      0      2  F.C.C. 13529  26.2500   NaN        S


     PassengerId  Survived  Pclass                              Name     Sex  \
24            25         0       3     Palsson, Miss. Torborg Danira  female
237          238         1       2  Collyer, Miss. Marjorie "Lottie"  female
549          550         1       2    Davies, Master. John Morgan Jr    male
787          788         0       3         Rice, Master. George Hugh    male

     Age  SibSp  Parch      Ticket    Fare Cabin Embarked
24   8.0      3      1      349909  21.075   NaN        S
237  8.0      0      2  C.A. 31921  26.250   NaN        S
549  8.0      1      1  C.A. 33112  36.750   NaN        S
787  8.0      4      1      382652  29.125   NaN        Q


     PassengerId  Survived  Pclass  \
147          148         0       3
165          166         1       3
182          183         0       3
480          481         0       3
489          490         1       3
541          542         0       3
634          635         0       3
852          853         0       3

                                                Name     Sex  Age  SibSp  \
147                 Ford, Miss. Robina Maggie "Ruby"  female  9.0      2
165  Goldsmith, Master. Frank John William "Frankie"    male  9.0      0
182            Asplund, Master. Clarence Gustaf Hugo    male  9.0      4
480                   Goodwin, Master. Harold Victor    male  9.0      5
489            Coutts, Master. Eden Leslie "Neville"    male  9.0      1
541             Andersson, Miss. Ingeborg Constanzia  female  9.0      4
634                               Skoog, Miss. Mabel  female  9.0      3
852                          Boulos, Miss. Nourelain  female  9.0      1

     Parch      Ticket     Fare Cabin Embarked
147      2  W./C. 6608  34.3750   NaN        S
165      2      363291  20.5250   NaN        S
182      2      347077  31.3875   NaN        S
480      2     CA 2144  46.9000   NaN        S
489      1  C.A. 37671  15.9000   NaN        S
541      2      347082  31.2750   NaN        S
634      2      347088  27.9000   NaN        S
852      1        2678  15.2458   NaN        C


     PassengerId  Survived  Pclass                          Name     Sex  \
419          420         0       3     Van Impe, Miss. Catharina  female
819          820         0       3  Skoog, Master. Karl Thorsten    male

      Age  SibSp  Parch  Ticket   Fare Cabin Embarked
419  10.0      0      2  345773  24.15   NaN        S
819  10.0      3      2  347088  27.90   NaN        S


     PassengerId  Survived  Pclass                                 Name  \
59            60         0       3   Goodwin, Master. William Frederick
542          543         0       3    Andersson, Miss. Sigrid Elisabeth
731          732         0       3             Hassan, Mr. Houssein G N
802          803         1       1  Carter, Master. William Thornton II

        Sex   Age  SibSp  Parch   Ticket      Fare    Cabin Embarked
59     male  11.0      5      2  CA 2144   46.9000      NaN        S
542  female  11.0      4      2   347082   31.2750      NaN        S
731    male  11.0      0      0     2699   18.7875      NaN        C
802    male  11.0      1      2   113760  120.0000  B96 B98        S


     PassengerId  Survived  Pclass                          Name   Sex   Age  \
125          126         1       3  Nicola-Yarred, Master. Elias  male  12.0

     SibSp  Parch Ticket     Fare Cabin Embarked
125      1      0   2651  11.2417   NaN        C


     PassengerId  Survived  Pclass                               Name     Sex  \
446          447         1       2  Mellinger, Miss. Madeleine Violet  female
780          781         1       3               Ayoub, Miss. Banoura  female

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
446  13.0      0      1  250644  19.5000   NaN        S
780  13.0      0      0    2687   7.2292   NaN        C


     PassengerId  Survived  Pclass                                  Name  \
9             10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
14            15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
39            40         1       3           Nicola-Yarred, Miss. Jamila
435          436         1       1             Carter, Miss. Lucile Polk
683          684         0       3           Goodwin, Mr. Charles Edward
686          687         0       3              Panula, Mr. Jaako Arnold

        Sex   Age  SibSp  Parch   Ticket      Fare    Cabin Embarked
9    female  14.0      1      0   237736   30.0708      NaN        C
14   female  14.0      0      0   350406    7.8542      NaN        S
39   female  14.0      1      0     2651   11.2417      NaN        C
435  female  14.0      1      2   113760  120.0000  B96 B98        S
683    male  14.0      5      2  CA 2144   46.9000      NaN        S
686    male  14.0      4      1  3101295   39.6875      NaN        S


     PassengerId  Survived  Pclass                  Name     Sex   Age  SibSp  \
111          112         0       3  Zabour, Miss. Hileni  female  14.5      1

     Parch Ticket     Fare Cabin Embarked
111      0   2665  14.4542   NaN        C


     PassengerId  Survived  Pclass                                     Name  \
22            23         1       3              McGowan, Miss. Anna "Annie"
352          353         0       3                       Elias, Mr. Tannous
689          690         1       1        Madill, Miss. Georgette Alexandra
830          831         1       3  Yasbeck, Mrs. Antoni (Selini Alexander)
875          876         1       3         Najib, Miss. Adele Kiamie "Jane"

        Sex   Age  SibSp  Parch  Ticket      Fare Cabin Embarked
22   female  15.0      0      0  330923    8.0292   NaN        Q
352    male  15.0      1      1    2695    7.2292   NaN        C
689  female  15.0      0      1   24160  211.3375    B5        S
830  female  15.0      1      0    2659   14.4542   NaN        C
875  female  15.0      0      0    2667    7.2250   NaN        C


     PassengerId  Survived  Pclass                              Name     Sex  \
71            72         0       3        Goodwin, Miss. Lillian Amy  female
86            87         0       3            Ford, Mr. William Neal    male
138          139         0       3               Osen, Mr. Olaf Elon    male
156          157         1       3  Gilnagh, Miss. Katherine "Katie"  female
208          209         1       3         Carr, Miss. Helen "Ellen"  female
220          221         1       3    Sunderland, Mr. Victor Francis    male
266          267         0       3         Panula, Mr. Ernesti Arvid    male
282          283         0       3         de Pelsmaeker, Mr. Alfons    male
329          330         1       1      Hippach, Miss. Jean Gertrude  female
333          334         0       3   Vander Planke, Mr. Leo Edmondus    male
504          505         1       1             Maioni, Miss. Roberta  female
574          575         0       3      Rush, Mr. Alfred George John    male
746          747         0       3       Abbott, Mr. Rossmore Edward    male
764          765         0       3            Eklund, Mr. Hans Linus    male
791          792         0       2               Gaskell, Mr. Alfred    male
841          842         0       2          Mudd, Mr. Thomas Charles    male
853          854         1       1         Lines, Miss. Mary Conover  female

      Age  SibSp  Parch           Ticket     Fare Cabin Embarked
71   16.0      5      2          CA 2144  46.9000   NaN        S
86   16.0      1      3       W./C. 6608  34.3750   NaN        S
138  16.0      0      0             7534   9.2167   NaN        S
156  16.0      0      0            35851   7.7333   NaN        Q
208  16.0      0      0           367231   7.7500   NaN        Q
220  16.0      0      0  SOTON/OQ 392089   8.0500   NaN        S
266  16.0      4      1          3101295  39.6875   NaN        S
282  16.0      0      0           345778   9.5000   NaN        S
329  16.0      0      1           111361  57.9792   B18        C
333  16.0      2      0           345764  18.0000   NaN        S
504  16.0      0      0           110152  86.5000   B79        S
574  16.0      0      0       A/4. 20589   8.0500   NaN        S
746  16.0      1      1        C.A. 2673  20.2500   NaN        S
764  16.0      0      0           347074   7.7750   NaN        S
791  16.0      0      0           239865  26.0000   NaN        S
841  16.0      0      0      S.O./P.P. 3  10.5000   NaN        S
853  16.0      0      1         PC 17592  39.4000   D28        S


     PassengerId  Survived  Pclass  \
68            69         1       3
84            85         1       2
114          115         0       3
163          164         0       3
307          308         1       1
389          390         1       2
433          434         0       3
500          501         0       3
532          533         0       3
550          551         1       1
721          722         0       3
781          782         1       1
844          845         0       3

                                                  Name     Sex   Age  SibSp  \
68                     Andersson, Miss. Erna Alexandra  female  17.0      4
84                                 Ilett, Miss. Bertha  female  17.0      0
114                              Attalah, Miss. Malake  female  17.0      0
163                                    Calic, Mr. Jovo    male  17.0      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.0      1
389                              Lehmann, Miss. Bertha  female  17.0      0
433                         Kallio, Mr. Nikolai Erland    male  17.0      0
500                                   Calic, Mr. Petar    male  17.0      0
532                               Elias, Mr. Joseph Jr    male  17.0      1
550                        Thayer, Mr. John Borland Jr    male  17.0      0
721                          Jensen, Mr. Svend Lauritz    male  17.0      1
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.0      1
844                                Culumovic, Mr. Jeso    male  17.0      0

     Parch             Ticket      Fare Cabin Embarked
68       2            3101281    7.9250   NaN        S
84       0         SO/C 14885   10.5000   NaN        S
114      0               2627   14.4583   NaN        C
163      0             315093    8.6625   NaN        S
307      0           PC 17758  108.9000   C65        C
389      0            SC 1748   12.0000   NaN        C
433      0  STON/O 2. 3101274    7.1250   NaN        S
500      0             315086    8.6625   NaN        S
532      1               2690    7.2292   NaN        C
550      2              17421  110.8833   C70        C
721      0             350048    7.0542   NaN        S
781      0              17474   57.0000   B20        S
844      0             315090    8.6625   NaN        S


     PassengerId  Survived  Pclass  \
38            39         0       3
49            50         0       3
144          145         0       2
175          176         0       3
204          205         1       3
228          229         0       2
311          312         1       1
371          372         0       3
385          386         0       2
417          418         1       2
424          425         0       3
505          506         0       1
585          586         1       1
651          652         1       2
654          655         0       3
675          676         0       3